body
    color: $primary-neutral
    font:
        family: $body-font
        size: 18px
    >*
        padding: 0 8vw
        
img
    max-width: 100%
    
a
    color: black
    &:hover
        color: $secondary