.btn
    display: inline-block
    min-width: 80px
    text-align: center
    border: 2px solid $primary
    border-radius: 5px
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15)
    padding: 11px 20px
    color: white
    background-color: $primary
    font:
        size: 0.9rem
        weight: $medium
    transition: background-color .2s
    &:hover
        border: 2px solid $primary
        color: $primary
        background-color: white

.toggle
    display: none
    height: 15px
    width: 18px
    background:
        image: url("../img/icon-hamburger.svg")
        repeat: no-repeat
        width: 100%

.title
    color: $secondary-neutral
    text-transform: capitalize
    font-size: $big-size


