.page-header
    padding-top: 6vh
    margin-bottom: 8vh
    text-transform: uppercase
    @media (max-width: 930px)
        font-size: 0.85rem
            
.header-nav
    display: flex
    justify-content: space-between 
    align-items: center

.page-menu
    display: flex
    justify-content: space-between
    align-items: center
    flex-basis: 550px
    margin-left: 80px

.social-links
    display: none

.main-wrapper
        
